@using Writa.Models;
@using Writa.Frontend.Models
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters

@inherits Writa.Frontend.Models.WritaViewPage

<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-lg-1"style="padding-top: 25px;">
            <img class="media-object img-thumbnail" style="width: 150px;" src="@thispage.Post.PostThumbnail?width=150&height=150&mode=crop" alt="@thispage.Post.PostTitle">
        </div>
        <div class="col-lg-11" style="min-height: 400px;">
            <h1>@thispage.Post.PostTitle</h1>
            <p class="text-muted">@StringTools.GetPrettyDate(thispage.Post.PostCreated)</p>
            <div>@Html.Raw(GetMarkDown())</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Widgets/_Disqus.cshtml")
        </div>
        </div>
    <div class="row">
        <div class="col-lg-1" style="min-height: 60px;"></div>
        <div class="col-lg-11" style="min-height: 60px;">
            @foreach (string h in thispage.Post.PostTags)
            {
                <span class="label label-default"><a href="/tag/@Server.UrlEncode(h)">@h</a></span>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            <ul class="pagination">
                @if (@thispage.PreviousPost != null) {
                <li><a  href="/@thispage.PreviousPost.PostSlug" title="@thispage.PreviousPost.PostTitle">Previous Post</a></li>
                }
                @if (@thispage.NextPost != null) {
                <li><a href="/@thispage.NextPost.PostSlug" title="@thispage.NextPost.PostTitle">Next Post</a></li>
                }

            </ul>
        </div>
   </div>
</div>
